{% extends 'main/base.html' %}

{% block content%}
<div>
    {% load static %}
    <link href="{%static 'w-u-homepage.css'%}" rel="stylesheet" />
    <div>
      <div class="w-u-homepage-w-u-homepage">
        <span class="w-u-homepage-text"><span>Jeffery Lab</span></span>
        <div class="w-u-homepage-about-projects">
          <span class="w-u-homepage-text02"><span>Projects</span></span>
          <span class="w-u-homepage-text04">
            <span class="w-u-homepage-text05">
              <span>Welcome to Jeffery Lab!</span>
              <br />
              <span></span>
            </span>
            <span class="w-u-homepage-text09">
              <span>
                &#123; Few sentences about the lab and high-level view of our
                goals / mission &#125;
              </span>
              <br />
              <span></span>
            </span>
            <span>
              <span></span>
              <br />
              <span>
                Click the link below to view our ongoing and upcoming projects!
              </span>
            </span>
          </span>
          <img
            src="/playground_assets/alvinsprofileimg17-qnfu-500w.png"
            alt="AlvinsprofileIMG17"
            class="w-u-homepage-alvinsprofile-i-m-g"
          />
          <span class="w-u-homepage-text17">
            <span>&#123; link to projects page &#125;</span>
          </span>
        </div>
        <div class="w-u-homepage-team">
          <img
            src="/playground_assets/avatar1110-iebj-400h.png"
            alt="Avatar1110"
            class="w-u-homepage-avatar1"
          />
          <img
            src="/playground_assets/avatar2111-pfi-400h.png"
            alt="Avatar2111"
            class="w-u-homepage-avatar2"
          />
          <img
            src="/playground_assets/avatar3112-aw05-400h.png"
            alt="Avatar3112"
            class="w-u-homepage-avatar3"
          />
          <img
            src="/playground_assets/avatar4113-8sch-400h.png"
            alt="Avatar4113"
            class="w-u-homepage-avatar4"
          />
          <span class="w-u-homepage-text19">
            <span>
              <span>Team Member</span>
              <br />
              <span></span>
            </span>
          </span>
          <span class="w-u-homepage-text24">
            <span>
              <span>Team Member</span>
              <br />
              <span></span>
            </span>
          </span>
          <span class="w-u-homepage-text29">
            <span>
              <span>Team Member</span>
              <br />
              <span></span>
            </span>
          </span>
          <span class="w-u-homepage-text34">
            <span>
              <span>Team Member</span>
              <br />
              <span></span>
            </span>
          </span>
          <span class="w-u-homepage-text39"><span>Title</span></span>
          <span class="w-u-homepage-text41"><span>Title</span></span>
          <span class="w-u-homepage-text43"><span>Title</span></span>
          <span class="w-u-homepage-text45"><span>Title</span></span>
          <img
            src="/playground_assets/carouselnavigationright122-o444-200w.png"
            alt="Carouselnavigationright122"
            class="w-u-homepage-carouselnavigationright"
          />
          <img
            src="/playground_assets/carouselnavigationleft123-u32u-200w.png"
            alt="Carouselnavigationleft123"
            class="w-u-homepage-carouselnavigationleft"
          />
        </div>
        <div class="w-u-homepage-resources">
          <span class="w-u-homepage-text47"><span>Resources</span></span>
          <span class="w-u-homepage-text49">
            <span>&#123; link to presentations &amp; papers &#125;</span>
          </span>
          <img
            src="/playground_assets/quantitativenurseimg127-oww9-900w.png"
            alt="QuantitativeNurseIMG127"
            class="w-u-homepage-quantitative-nurse-i-m-g"
          />
        </div>
        <div class="w-u-homepage-v-u-s-n-header">
          <img
            src="/playground_assets/breadcrumbscontainer129-vrvk-200h.png"
            alt="Breadcrumbscontainer129"
            class="w-u-homepage-breadcrumbscontainer"
          />
          <span class="w-u-homepage-text51">
            <span>Home &gt; Breadcrumbs &gt; You are here!</span>
          </span>
          <img
            src="/playground_assets/vusnheader131-prtr-200h.png"
            alt="VUSNHeader131"
            class="w-u-homepage-v-u-s-n-header1"
          />
        </div>
        <div class="w-u-homepage-links">
          <span class="w-u-homepage-text53"><span>Jeffery Lab</span></span>
          <span class="w-u-homepage-text55">
            <span>
              <span>About</span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
            </span>
          </span>
          <span class="w-u-homepage-text64"><span>Projects</span></span>
          <span class="w-u-homepage-text66"><span>Team</span></span>
          <span class="w-u-homepage-text68"><span>Contact</span></span>
          <span class="w-u-homepage-text70"><span>VUSN Newsletter</span></span>
          <span class="w-u-homepage-text72"><span>submit</span></span>
          <img
            src="/playground_assets/textboxemail140-3w9t-200h.png"
            alt="Textboxemail140"
            class="w-u-homepage-textboxemail"
          />
          <span class="w-u-homepage-text74"><span>email</span></span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}